

  <body class="body">
    <div class="caja">
      <div class="formulario">
        <img src="Imagenes/IMG-20220921-WA0025.jpg" class="Imagen1">
        <p class="Texto1">INICIE SESIÓN EN SEGURICOM</p>
        <p class="Texto2">Ingrese su e-mail y su contraseña</p>
        <div class="inputBox">
          <input type="text" required="required">
          <span>CORREO ELECTRÓNICO</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required="required">
          <span>CONTRASEÑA</span>
          <i></i>
        </div>
        <div class="links1">
          <a href="#">Olvide mi cuenta</a>
          <a href="#">Crear Cuenta</a>
        </div>
        <input type="submit" VALUE="INICIAR SESION">
      </div>
    </div>
  </body>

