<!DOCTYPE html>
<html lang="es">
<head>
<title>SEGURICOM - SEGURIDAD Y COMUNICACIONES</title>
<link rel="stylesheet" href="crear-cuenta.component.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
  <body class="body">
    <div class="caja">
        <div class="formulario">
          <img src="Imagenes/IMG-20220921-WA0025.jpg" class="Imagen1">
          <p class="Texto1">REGÍSTRESE Y SEA USUARIO DE SEGURICOM</p>
          <p class="Texto2">Rellene los datos</p>
          <div class="inputBox">
            <input type="text" required="required">
            <span>CORREO ELECTRÓNICO</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="password" required="required">
            <span>CONTRASEÑA</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" required="required">
            <span>NOMBRE</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" required="required">
            <span>APELLIDOS</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" required="required">
            <span>D.N.I</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" required="required">
            <span>DIRECCIÓN</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" required="required">
            <span>TELÉFONO</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" required="required">
            <span>RUC</span>
            <i></i>
          </div>

          <input type="submit" VALUE="Crear Cuenta">
        </div>
      </div>


  </body>

</head>
