*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111F38;
}
.caja
{
  position: relative;
  width: 880px;
  height: 1100px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  margin: 30px;
}
.caja::before
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 880px;
  height: 1100px;
  background:linear-gradient(0deg,transparent,#1ca1f3,#2d46eb);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.caja::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 880px;
  height: 1100px;
  background:linear-gradient(0deg,transparent,#1ca1f3,#2d46eb);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
.formulario
{
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #313237;
  z-index: 10;
  padding: 40px 40px;
  flex-direction: column;
}
.formulario .Imagen1
{height: 120px;
  width: 120px;
  margin-left: 344px;
  margin-bottom: 10px;
}
.formulario .Texto1
{
  color: #2dc5eb;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

.formulario .Texto2
{
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}
.inputBox input
{
  position: relative;
  width: 300px;
  margin-top: 50px;
  width: 100%;
  padding:  5px 10px 10px;
  background: white;
  border: none;
  outline: none;
  color: black;
  font-size: 1em;
  letter-spacing: 0.05em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inputBox span
{
  position: absolute;
  left:0;
  padding:60px 50px 10px;
font-size: 1em;
color: #8f8f8f;
pointer-events: none;
letter-spacing: 0.05em;
transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
  color: #2dc5eb;
  transform:translateY(-34px);
  font-size: 0.75em;
}

input[type="submit"]
{
border:none;
outline: none;
background: #2dc5eb;
padding: 11px 25px;
width: 180px;
margin-top: 70px;
margin-left: 302px;
border-radius: 4px;
font-weight: 700;
cursor: pointer;

}
input[type="submit"]:active
{
opacity: 0.8;
}
input[type="submit"]:hover
{
border:none;
outline: none;
background: #12dcea;
padding: 11px 25px;
width: 180px;
margin-top: 70px;
margin-left: 302px;
border-radius: 4px;
font-weight: 700;
cursor: pointer;

}
.links1
{
  display: flex;
  justify-content: space-between;
}

.links1 a
{
  margin: 10px 0;
  font-size: 0.75em;
  color: rgb(176, 176, 176);
  text-decoration: none;

}
.links1 a:hover,
.links1 a:nth-child(2)
{
  color:#2dc5eb
}
