<body>
<div>
    <header>
      <img src="../../../assets/ImgInicio/IMG-20220921-WA0025.jpg" class="Imagen">

      <div class="wrapper">
          <nav>

              <a href="/Acerca"><img src="../../../assets/ImgInicio/Black_question_mark.png" class="Iconos1">Acerca</a>
              <a href="#"><img src="../../../assets/ImgInicio/4388744.png" class="Iconos1">Servicios</a>
              <a href="#"><img src="../../../assets/ImgInicio/img_231353.png" class="Iconos1">Productos</a>
              <a href="#"><img src="../../../assets/ImgInicio/4388744.png" class="Iconos1">Cotiza Online</a>
              <a href="/Inicio_Sesion"><img src="../../../assets/ImgInicio/3126647.png" class="Iconos1">Area de Clientes</a>
          </nav>
      </div>
    </header>
    <header class="bar2">
      <div class="wrapper2">
        <img src="../../../assets/ImgInicio/digital-ico-reloj-azul.png" class="Imagen3">
        <p class="TextoCabecera">¡TU SEGURIDAD ES NUESTRA PRIORIDAD, AL MEJOR PRECIO EN UN CLIC!</p>
        <img src="../../../assets/ImgInicio/c88bbea2facff00cc66a0cdba549f83b.png" class="Imagen3">
      </div>
      <div class="ImagenPetrona">
        <div class="Cuadrado">
            <p class="Texto1">¡COTIZE AHORA!</p>
            <a href="/Inicio_Sesion" class="Referencia1"> <div class="Cuadrado2">¡COTIZAR AHORA!</div> </a>
            <p class="Texto4">¡No pierda la oportunidad de evitar perder lo que mas aprecia!</p>
        </div>
      </div>
    </header>
  </div>
</body>
