<!DOCTYPE html>
<html lang="es">
<head>
<title>INICIO DE SESIÓN - SEGURICOM</title>
<link rel="stylesheet" href="pagina-inicio-usuario.component.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
  <body class="body">
    <header class="bar2">
        <div class="wrapper2">
          <img src="Imagenes/digital-ico-reloj-azul.png" class="Imagen3">
          <p class="TextoCabecera">¡TU SEGURIDAD ES NUESTRA PRIORIDAD, AL MEJOR PRECIO EN UN CLIC!</p>
          <img src="Imagenes/c88bbea2facff00cc66a0cdba549f83b.png" class="Imagen3">
          <nav class="barra2">
            <ul class="subarra1">
                <li><a href="">Inicio</a> </li>
                <li><a href="">Dispositivos</a> </li>
                <li><a href="">Notificaciones</a> </li>
                <li><a href="">Mi_Cuenta</a> </li>
                <li><a href="">Ayuda</a> </li>
            </ul>
          </nav>
        </div>
    </header>
        <div class="bloqueBlanco">
            <div class="wrapper">
                <tr>
                    <td><img src="Imagenes/585e4beacb11b227491c3399.png" class="Imagen1"></td>
                    <td><p class="Welcometext">¡BIENVENIDO DE VUELTA!</p></td>
                </tr>
            </div>
            <p class="texto1">¿Haz Cotizado Y Realizado el Estudio?</p>
            <a href="inicio-sesion/inicio-sesion.component.html" class="Referencia1"> <div class="Cuadrado2">¡SOLICITAR ESTUDIO!</div> </a>
        </div>
  </body>
</head>