<!DOCTYPE html>
<html lang="es">
<head>
<title>SEGURICOM - SEGURIDAD Y COMUNICACIONES</title>
<link rel="stylesheet" href="acerca.component.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
  <body class="body">
    <header class="sitio-header">
      <p class="TituloHead"><a href="#" class="Inicio1">Inicia Sesión</a> o <a href="#" class="Inicio1">Crea Cuenta</a></p>
        <div class="wrapper">
            <nav>
              <div class="div1">
                <div class="div2">
                <a href="acerca.component.html"><img src="Imagenes/Captura.PNG" class="Imagen"></a>
              </div>
                <p class="titulo1">M & J EXCLUSIVIDADES PERÚ E.I.R.L</p>
              </div>
                <div class="container">
                  <input type="text" placeholder="Buscar">
                  <div class="btn">
                    <i class="fa fa-search"></i>
                  </div>
                </div>               
            </nav>
        </div>
        <nav class="barra2">
          <ul class="subarra1">
            <li><a href="">Menu</a> </li>
            <li><a href="">Categorias</a> </li>
            <li><a href="">Acerca</a> </li>
            <li><a href="">Carrito</a> </li>
          </ul>
        </nav>
    </header>
    <a href="#">
    <div class="imagen1">
      <img class="subimagen" src="Imagenes/DISEÑO NAVIDEÑO.jpg">
    </div>
  </a>
  <header class="bar2">
   
    <div class="wrapper2"> <p class="Titulo3">¡ALGUNOS DE NUESTROS PRODUCTOS!</p></div>
    <div class="slider">
      <div class="slide-track">
          <div class="slide">
              <img src="Imagenes/636724-MLA42830538521_072020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/924219-MLA42459926732_072020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/990465-MLA42831548931_072020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/D_774567-MLA44275950943_122020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/D_820074-MLA44228946504_122020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/D_860864-MLA44230262037_122020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/D_979514-MLA44230522976_122020-O.jpg" alt="">
          </div>

          <div class="slide">
              <img src="Imagenes/636724-MLA42830538521_072020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/924219-MLA42459926732_072020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/990465-MLA42831548931_072020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/D_774567-MLA44275950943_122020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/D_820074-MLA44228946504_122020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/D_860864-MLA44230262037_122020-O.jpg" alt="">
          </div>
          <div class="slide">
              <img src="Imagenes/D_979514-MLA44230522976_122020-O.jpg" alt="">
          </div>
      </div>
  </div>

    <div class="wrapper2"> <p class="Titulo4">ARMA TU IMAGINACIÓN Y NUNCA DEJES DE SACAR A TU NIÑO INTERIOR</p></div>
    
  </header>
  <div class="wrapper4"> 
  <p class="titulocatalogos">ROMPECABEZAS 4X4</p>
</div>
<div class="wrapper5"><div class="page-content">
    <div class="product-container">
        <h3 class="tituloRompecabezas">MAXI Dulce Unicornio</h3>
        <img src="Imagenes/Rompecabezas 24 Piezas Maxi Dulce Unicornio.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-1', 50)">VER</button>
    </div>

    <div class="product-container">
        <h3 class="tituloRompecabezas">MAXI Juguemos antes de dormir</h3>
        <img src="Imagenes/Rompecabezas 24 piezas MAXI Juguemos antes de dormir.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-2', 300)">VER</button>
    </div>

    <div class="product-container">
        <h3 class="tituloRompecabezas">MAXI Vamos a divertirnos juntos</h3>
        <img src="Imagenes/Rompecabezas 24 piezas MAXI Vamos a divertirnos juntos.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-3', 250)">VER</button>
    </div>
  </div>
  <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 100X100</p></div>
    <div class="page-content">
      <div class="product-container">
          <h3 class="tituloRompecabezas">Llamas felices</h3>
          <img src="Imagenes/Rompecabezas 100 Piezas Llamas felices.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
  
      <div class="product-container">
          <h3 class="tituloRompecabezas">Mundo de gatos</h3>
          <img src="Imagenes/Rompecabezas 100 piezas Mundo de gatos.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-2', 300)">VER</button>
      </div>
  
      <div class="product-container">
          <h3 class="tituloRompecabezas">Mundo de perritos</h3>
          <img src="Imagenes/Rompecabezas 100 piezas Mundo de perritos.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-3', 250)">VER</button>
      </div>
      <div class="product-container">
        <h3 class="tituloRompecabezas">Tierra de Dinosaurios</h3>
        <img src="Imagenes/Rompecabezas 100 piezas Tierra de Dinosaurios.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-3', 250)">VER</button>
    </div>
    </div>
    <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 160X160</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
            <img src="Imagenes/Rompecabezas 160 piezas Batalla de Dinosaurios.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
      </div>
      <div class="wrapper4">  <p class="titulocatalogos">ROMPECABEZAS 500x500</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
            <img src="Imagenes/Rompecabezas 500 piezas Descanso en el bosque.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
          <img src="Imagenes/Rompecabezas 500 piezas Gatitos dormilones.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      <div class="product-container">
        <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
        <img src="Imagenes/Rompecabezas 500 Piezas Girasoles.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-1', 50)">VER</button>
    </div>
    <div class="product-container">
      <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
      <img src="Imagenes/Rompecabezas 500 piezas Hermosa Ballerina.jpg" />
      <h1>$---</h1>
      <button class="button-add" onclick="add('product-1', 50)">VER</button>
  </div>
  <div class="product-container">
    <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
    <img src="Imagenes/Rompecabezas 500 Piezas Monalisa y el Gatito Ronronoso.jpg" />
    <h1>$---</h1>
    <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
  <img src="Imagenes/Rompecabezas 500 Piezas Navegando contra Chicago.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
  <img src="Imagenes/Rompecabezas 500 Piezas Paraguas verde.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
  <img src="Imagenes/Rompecabezas 500 piezas Tesoro Escondido.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
  <img src="Imagenes/Rompecabezas 500 piezas Tiempo de helado.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Batalla de Dinosaurios</h3>
  <img src="Imagenes/Rompecabezas 500 Piezas Tren en la Montaña.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 1000x1000</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Blanca Navidad</h3>
            <img src="Imagenes/Rompecabezas 1000 piezas Blanca Navidad.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Casa de Campo</h3>
          <img src="Imagenes/Rompecabezas 1000 piezas Casa de Campo.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      <div class="product-container">
        <h3 class="tituloRompecabezas">Coliseo Bañado por el Sol</h3>
        <img src="Imagenes/Rompecabezas 1000 piezas Coliseo Bañado por el Sol.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-1', 50)">VER</button>
    </div>
    <div class="product-container">
      <h3 class="tituloRompecabezas">Familia de Lobos</h3>
      <img src="Imagenes/Rompecabezas 1000 piezas Familia de Lobos.jpg" />
      <h1>$---</h1>
      <button class="button-add" onclick="add('product-1', 50)">VER</button>
  </div>
  <div class="product-container">
    <h3 class="tituloRompecabezas">Mi Fabuloso Dragón</h3>
    <img src="Imagenes/Rompecabezas 1000 piezas Mi Fabuloso Dragón.jpg" />
    <h1>$---</h1>
    <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Parque Central New York</h3>
  <img src="Imagenes/Rompecabezas 1000 Piezas Parque Central New York.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Río de Janeiro</h3>
  <img src="Imagenes/Rompecabezas 1000 piezas Río de Janeiro.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Universo Mágico</h3>
  <img src="Imagenes/Rompecabezas 1000 piezas Universo Mágico.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Vista desde Cappadocia</h3>
  <img src="Imagenes/Rompecabezas 1000 piezas Vista desde Cappadocia.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Super gatos</h3>
  <img src="Imagenes/Rompecabezas Neón 1000 piezas Super gatos.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 1040X1040</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Animales Tropicales</h3>
            <img src="Imagenes/Rompecabezas Espiral 1040 piezas Animales Tropicales.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Bahía Mágica</h3>
          <img src="Imagenes/Rompecabezas Espiral 1040 piezas Bahía Mágica.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      <div class="product-container">
        <h3 class="tituloRompecabezas">Signos Zodiacales</h3>
        <img src="Imagenes/Rompecabezas Espiral 1040 piezas Signos Zodiacales.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-1', 50)">VER</button>
    </div>
    <div class="product-container">
      <h3 class="tituloRompecabezas">Sistema Solar</h3>
      <img src="Imagenes/Rompecabezas Espiral 1040 piezas Sistema Solar.jpg" />
      <h1>$---</h1>
      <button class="button-add" onclick="add('product-1', 50)">VER</button>
  </div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 1500x1500</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Cabaña junto al Lago</h3>
            <img src="Imagenes/Rompecabezas 1500 piezas Cabaña junto al Lago.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Cosas de Gatos</h3>
          <img src="Imagenes/Rompecabezas 1500 Piezas Cosas de Gatos.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      <div class="product-container">
        <h3 class="tituloRompecabezas">Descansando entre los árboles</h3>
        <img src="Imagenes/Rompecabezas 1500 piezas Descansando entre los árboles.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-1', 50)">VER</button>
    </div>
    <div class="product-container">
      <h3 class="tituloRompecabezas">En el Viñedo</h3>
      <img src="Imagenes/Rompecabezas 1500 piezas En el Viñedo.jpg" />
      <h1>$---</h1>
      <button class="button-add" onclick="add('product-1', 50)">VER</button>
  </div>
  <div class="product-container">
    <h3 class="tituloRompecabezas">Familia Delfines</h3>
    <img src="Imagenes/Rompecabezas 1500 piezas Familia Delfines.jpg" />
    <h1>$---</h1>
    <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Lago Oeschinen Suiz</h3>
  <img src="Imagenes/Rompecabezas 1500 piezas Lago Oeschinen Suiza.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Librería de Hadas</h3>
  <img src="Imagenes/Rompecabezas 1500 piezas Librería de Hadas.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Orillas Doradas</h3>
  <img src="Imagenes/Rompecabezas 1500 piezas Orillas Doradas.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Paris Encantador</h3>
  <img src="Imagenes/Rompecabezas 1500 piezas Paris Encantador.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Parque Güell Barcelona</h3>
  <img src="Imagenes/Rompecabezas 1500 piezas Parque Güell Barcelona.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 2000X2000</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Piezas Bosque Tropical</h3>
            <img src="Imagenes/Rompecabezas 2000 Piezas Bosque Tropical.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Cascada Háifoss, Islandia</h3>
          <img src="Imagenes/Rompecabezas 2000 piezas Cascada Háifoss, Islandia.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      <div class="product-container">
        <h3 class="tituloRompecabezas">Vernazza al anochecer</h3>
        <img src="Imagenes/Rompecabezas 2000 piezas Vernazza al anochecer.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-1', 50)">VER</button>
    </div>
    <div class="product-container">
      <h3 class="tituloRompecabezas">Colmar Francia</h3>
      <img src="Imagenes/Rompecabezas 2000 piezas Colmar Francia.jpg" />
      <h1>$---</h1>
      <button class="button-add" onclick="add('product-1', 50)">VER</button>
  </div>
  <div class="product-container">
    <h3 class="tituloRompecabezas">Dulce Tarde</h3>
    <img src="Imagenes/Rompecabezas 2000 Piezas Dulce Tarde.jpg" />
    <h1>$---</h1>
    <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Luces de Dubai</h3>
  <img src="Imagenes/Rompecabezas 2000 piezas Luces de Dubai.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Mapa Político del Mundo</h3>
  <img src="Imagenes/Rompecabezas 2000 piezas Mapa Político del Mundo.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Sonidos de Música</h3>
  <img src="Imagenes/Rompecabezas 2000 piezas Sonidos de Música.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Vacaciones Tropicales</h3>
  <img src="Imagenes/Rompecabezas 2000 piezas Vacaciones Tropicales.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Vista Barcelona</h3>
  <img src="Imagenes/Rompecabezas 2000 Piezas Vista Barcelona.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
      </div>
      <div class="wrapper4"><p class="titulocatalogos">ROMPECABEZAS 3000x3000</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Castillo invernal de Neuschwanstein Alemania</h3>
            <img src="Imagenes/Rompecabezas 3000 piezas Castillo invernal de Neuschwanstein Alemania.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Parque de Atracciones</h3>
          <img src="Imagenes/Rompecabezas 3000 piezas Parque de Atracciones.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      <div class="product-container">
        <h3 class="tituloRompecabezas">Rutas de Jerusalem</h3>
        <img src="Imagenes/Rompecabezas 3000 piezas Rutas de Jerusalem.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-1', 50)">VER</button>
    </div>
    <div class="product-container">
      <h3 class="tituloRompecabezas">Vacaciones Griegas</h3>
      <img src="Imagenes/Rompecabezas 3000 piezas Vacaciones Griegas.jpg" />
      <h1>$---</h1>
      <button class="button-add" onclick="add('product-1', 50)">VER</button>
  </div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 4000x4000</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Explorer Desk</h3>
            <img src="Imagenes/Rompecabezas Puzzle 4000 Piezas Trefl Explorer Desk.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Viaje Por Europa</h3>
          <img src="Imagenes/Rompecabezas Puzzle 4000 Piezas Trefl Viaje Por Europa.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 6000x6000</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Paris Street</h3>
            <img src="Imagenes/Trefl Rompecabezas de 6000 piezas Paris Street.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Techo de Capilla SixtinaBridgeman</h3>
          <img src="Imagenes/Trefl Rompecabezas de 6000 piezas Techo de Capilla SixtinaBridgeman.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      </div>
      <div class="wrapper4"><p class="titulocatalogos">ROMPECABEZAS COLECCIÓN DE ARTE</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Almuerzo de la Fiesta Náutica</h3>
            <img src="Imagenes/Rompecabezas Museo 1000 piezas Almuerzo de la Fiesta Náutica.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Chica del Pendiente</h3>
          <img src="Imagenes/Rompecabezas Museo 1000 piezas Chica del Pendiente.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      <div class="product-container">
        <h3 class="tituloRompecabezas">El Beso</h3>
        <img src="Imagenes/Rompecabezas Museo 1000 piezas El Beso.jpg" />
        <h1>$---</h1>
        <button class="button-add" onclick="add('product-1', 50)">VER</button>
    </div>
    <div class="product-container">
      <h3 class="tituloRompecabezas">El Nacimiento de Venus</h3>
      <img src="Imagenes/Rompecabezas Museo 1000 piezas El Nacimiento de Venus.jpg" />
      <h1>$---</h1>
      <button class="button-add" onclick="add('product-1', 50)">VER</button>
  </div>
  <div class="product-container">
    <h3 class="tituloRompecabezas">Gran Ola de Kanagawa</h3>
    <img src="Imagenes/Rompecabezas Museo 1000 piezas Gran Ola de Kanagawa.jpg" />
    <h1>$---</h1>
    <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">La creación del Hombre</h3>
  <img src="Imagenes/Rompecabezas Museo 1000 piezas La creación del Hombre.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Mona Lisa</h3>
  <img src="Imagenes/Rompecabezas Museo 1000 piezas Mona Lisa.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
<div class="product-container">
  <h3 class="tituloRompecabezas">Noche Estrellada</h3>
  <img src="Imagenes/Rompecabezas Museo 1000 piezas Noche Estrellada.jpg" />
  <h1>$---</h1>
  <button class="button-add" onclick="add('product-1', 50)">VER</button>
</div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS DE ESPUMA</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Espuma City</h3>
            <img src="Imagenes/espuma-city.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS DE MADERA</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Palacio de Westminster, Big Ben, Londres</h3>
            <img src="Imagenes/Trefl Wood Craft - Rompecabezas de madera de 501 piezas - Palacio de Westminster, Big Ben, Londres.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Mariposas Arcoíris</h3>
          <img src="Imagenes/Trefl Wood Craft - Rompecabezas de madera de 501 piezas, mariposas arcoíris.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 3 EN 1</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">Gatitos Dulces</h3>
            <img src="Imagenes/Rompecabezas 3 en 1 Gatitos Dulces.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Vehículos Profesiones</h3>
          <img src="Imagenes/Rompecabezas 3 en 1 Vehículos Profesiones.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      </div>
      <div class="wrapper4"> <p class="titulocatalogos">ROMPECABEZAS 4 EN 1</p></div>
      <div class="page-content">
        <div class="product-container">
            <h3 class="tituloRompecabezas">El Mundo Mágico de Unicornios</h3>
            <img src="Imagenes/Rompecabezas 4 en 1 El Mundo Mágico de Unicornios.jpg" />
            <h1>$---</h1>
            <button class="button-add" onclick="add('product-1', 50)">VER</button>
        </div>
        <div class="product-container">
          <h3 class="tituloRompecabezas">Llamas en Vacaciones</h3>
          <img src="Imagenes/Rompecabezas 4 en 1 Llamas en Vacaciones.jpg" />
          <h1>$---</h1>
          <button class="button-add" onclick="add('product-1', 50)">VER</button>
      </div>
      </div>
    
    <footer>

      <div class="container__footer">
          <div class="box__footer">
              <div class="logo">
                  <img src="Images/logo-magtimus.png" alt="">
              </div>
              <div class="terms">
                  <p class="frasefooter">"La educación no es un sustituto para la inteligencia. Esa elusiva cualidad es definida tan sólo en parte por la habilidad en resolver rompecabezas. Es en la creación de nuevos rompecabezas que reflejen lo que tus sentidos informan que completas la definición"</p>
                  <h2>FRANK HERBERT.</h2>
              </div>
          </div>
         
          <div class="box__footer">
              <h2>Compañia</h2>
              <a href="#">Menú</a>
              <a href="#">Categorias</a>
              <a href="#">Acerca</a>
              <a href="#">Carrito</a>              
          </div>

          <div class="box__footer">
              <h2>Redes Sociales</h2>
              <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
              <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
              <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
              <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
          </div>

      </div>

      <div class="box__copyright">
          <hr>
          <p>Todos los derechos reservados © 2022 <b>EXCLUSIVIDADES M & J</b></p>
      </div>
  </footer>
</div>
  </body>
</head>
