.body
{
  background: #eaeaea;
}
.wrapper
{
  width:77%;
	max-width:3000px;
	margin:30px;
	overflow:hidden;
}
.wrapper2
{
  width:100%;
	max-width:3000px;
	overflow:hidden;
    background: #e5bff3;
}
.wrapper3
{
  width:100%;
	max-width:3000px;
	overflow:hidden;
    background: #e5bff3;
}
.wrapper::after
{
    content: "";
    display: table;
    clear: both;
}
.sitio-header {
	width:100%;
	overflow:hidden;
	background:#cc9fdd;
}

header .Imagen {
	color:#f2f2f2;
	font-size:50px;
	line-height:100px;
	float:left;
}
header nav {
	float:30px;
	line-height:70px;
}
.titulo1
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-left: 505px;
}
.TituloHead
{

  display: block;
  color:#fff;
  padding: 0 20px;
  margin-left: 1400px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  line-height: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
.TituloHead .Inicio1
{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
.TituloHead .Inicio1:hover
{
  color: #d3d3d3;
}
.Imagen
{
  height: 120px;
  width: 120px;
  

  border-radius: 20px;
    background-color:transparent;
    color: #fff;
    line-height: 200px;
    text-align: center;
    margin-right: 30px;

}
.bar2
{
  width:100%;
  height: 528px;
	overflow:hidden;
	background:#cdaafb;
  text-align: center;
  background-image:url(Imagenes/PuzzleFondo1.jpg);
  background-size:cover;
  text-transform: uppercase;
  
}
.barra2
{
  width: 100%;
  height: 50px;
  background: rgba(230, 125, 212, 0.8);
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(255,255,255,.2);
  position: sticky;
  top:0;
}
.barra2 .subarra1
{
  display: flex;
  margin:0px;
  padding: 0 700px;
}
.barra2 .subarra1 li
{
  list-style: none;
}
.barra2 .subarra1 li a
{
  display: block;
  color:#fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  line-height: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.barra2 .subarra1 li a:hover
{
	background:#800505c6;
	border-radius:20px;
}
.container {
	position: absolute;
	left: 80%;
	top: 15%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #00d559;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
	background: #002cdb;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn i {
	font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}

.container:hover input {
	width: 350px;
}

.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #00c1da;
}

.subimagen
{
  vertical-align: middle;
    border-style: none;
    width: 1887px;
}

.slide
{
    width: 400px;
    height: 400px;
}
.Titulo3
{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}
.Titulo4
{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    font-weight: bold;
    
}
.slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(400px * 14);
}

.slider .slide {
    width: 400px;
}

.slider .slide img {
    width: 100%;
    height: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-400px * 7));
        transform: translateX(calc(-400px * 7));
    }
}
button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
}


.button-checkout:hover {
    background-color: #008CBA; /* Blue */
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 300px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.button-add {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.tituloRompecabezas
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
}
.wrapper4
{
  width:100%;
	max-width:3000px;
	overflow:hidden;
    background: #59dae6;
}
.wrapper5
{
  width:100%;
	max-width:3000px;
	overflow:hidden;
    background: #a5f1dd;
}
.titulocatalogos
{
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.wrapper6
{
  width:100%;
	max-width:3000px;
	overflow:hidden;
    background: #a5f1dd;
}
footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(Imagenes/background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}


.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}