<!DOCTYPE html>
<html lang="es">
<head>
<title>SEGURICOM - SEGURIDAD Y COMUNICACIONES</title>
<link rel="stylesheet" href="acerca.component.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
  <body class="body">
    <div>
    <header>
    <img src="Imagenes/IMG-20220921-WA0025.jpg" class="Imagen">

      <div class="wrapper">
          <nav>

              <a href="#"><img src="Imagenes/Black_question_mark.png" class="Iconos1">Acerca</a>
              <a href="#"><img src="Imagenes/840083.png" class="Iconos1">Servicios</a>
              <a href="#"><img src="Imagenes/img_231353.png" class="Iconos1">Productos</a>
              <a href="#"><img src="Imagenes/4388744.png" class="Iconos1">Cotiza Online</a>
              <a href="inicio-sesion/inicio-sesion.component.html"><img src="Imagenes/3126647.png" class="Iconos1">Area de Clientes</a>
          </nav>
      </div>
    </header>
    </div>
    <div class="ImagenPetrona">
      <div class="Cuadrado">
          <p class="Texto1">¡COTIZE AHORA!</p>
          <a href="inicio-sesion/inicio-sesion.component.html" class="Referencia1"> <div class="Cuadrado2">¡COTIZAR AHORA!</div> </a>
          <p class="Texto4">¡No pierda la oportunidad de evitar perder lo que mas aprecia!</p>
      </div>
